HTTP_PORT: 3000


POSTGRES_DSN: postgres://postgres:postgres@localhost:5432/database?sslmode=disable

#gigachat
GIGACHAT_AUTH_KEY: MDE5YzUzZTMtZGVkOC03ZmI2LWFlYTItMmE2ZjY2ZTZmN2Y4OjkzNTYyMDc4LWM4N2MtNDA3YS05ZGVhLWU0MDZiZGU4NGEyNw==
GIGACHAT_SCOPE: GIGACHAT_API_PERS
GIGACHAT_OAUTH_URL: https://ngw.devices.sberbank.ru:9443/api/v2/oauth

#redis
REDIS_HOST: localhost
REDIS_PORT: 6379
REDIS_PASS: 123456789

#rate limiter
#не больше 5 запросов в 10 секунд
RATE_LIMIT_TTL: 10
RATE_LIMIT: 5